.Register{
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow-y: scroll;
    stroke-width: none;
}
.Register form{
    overflow-y: scroll;
    stroke-width: none;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}
.inputdates{
    height: 50px;
    border-radius: 20px;
}